<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a routerLink="/userVista" class="logo">
              <h4>MarketingBoots <img  alt=""></h4>
            </a>
            <ul class="nav">
              <li class="scroll-to-section"><a routerLink="/userVista">Inicio</a></li>
              <li class="scroll-to-section"><a routerLink="/listaEncuestasUser">Encuestas</a></li>
              <li class="scroll-to-section"><a routerLink="/chatbot">Chatbot</a></li>
              <li class="scroll-to-section"><a href="#about">Estadisticas</a></li>
              <li class="scroll-to-section"><div class="btn btn-danger"><a routerLink="/inicio">cerrar sesión</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

