<app-navbar-admin></app-navbar-admin><br><br><br><br>
<div class="container mt-5 table-responsive">

  <h1 class="text-center">Lista de encuestas</h1><br>
  <table class="table table-bordered border-primary table-hover">
    <thead class="table-dark">
      <tr class="text-center">
        <th>Empresa</th>
        <th>Encargado</th>
        <th>Articulo</th>
        <th>Categoria</th>
        <th>Marca</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of listaSolicitudes" class="text-center">
        <td>{{solicitud.empresa}}</td>
        <td>{{solicitud.encargado}}</td>
        <td>{{solicitud.nombreArticulo}}</td>
        <td>{{solicitud.categoria}}</td>
        <td>{{solicitud.marcaArticulo}}</td>
        <td>

          <button [routerLink]="['/encuestasAdmin', solicitud._id]" type="button" class="btn btn-success me-2">Encuesta</button>
          <button [routerLink]="['/estadisticasAdmin', solicitud._id]" type="button" class="btn btn-info me-2">Estadisticas</button>

        </td>
      </tr>
    </tbody>
  </table>
</div>

