<header class="header-area header-sticky wow slideInDown " data-wow-duration="0.75s" data-wow-delay="0s">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav" >
          <a  class="logo">
          <h4 routerLink="/inicio">MarketingBoots</h4>
          </a>
          <ul class="nav">
            <li class="scroll-to-section"><a href="#top" class="active">Inicio</a></li>
            <li class="scroll-to-section"><a href="#features">Caracteristicas</a></li>
            <li class="scroll-to-section"><a href="#about">Acerca</a></li>

            <li class="scroll-to-section"><a href="#Precios">Precios</a></li>
            <li class="scroll-to-section"><div class="main-blue-button"><a routerLink="/inicioUsuario">Obten tu servicio</a></div></li>
          </ul>
          <a class='menu-trigger'>
          <span>Menu</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
