<app-navbar-admin></app-navbar-admin>
<div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" [formGroup]="preguntaSelecForm" (ngSubmit)="agregarPreguntaSelec()">
            <div class="row">
              <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                  <h2>Selecciona tus preguntas</h2>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="row">
                  <tr>
                    <td><label align-items="left" for="campo-select">Seleccione la pregunta 1 sobre el precio:</label></td>
                  </tr>
                  <select formControlName="pregunta1">
                    <option *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
                      {{ bancoPregu.pregunta }}
                    </option>
                  </select>
                  <div class="text-danger" *ngIf="preguntaSelecForm.get('pregunta1')?.hasError('required') && preguntaSelecForm.get('pregunta1')?.touched">
                    <span>La pregunta 1 <strong>es obligatorio</strong></span>
                  </div>
                </div>
                <br>
                <div class="row">
                  <tr>
                    <td><label align-items="left" for="campo-select">Selecciona la pregunta 2 sobre el precio:</label></td>
                  </tr>
                  <select formControlName="pregunta2">
                    <option *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
                      {{ bancoPregu.pregunta }}
                    </option>
                  </select>
                  <div class="text-danger" formControlName="pregunta2" name="pregunta2" *ngIf="preguntaSelecForm.get('pregunta2')?.hasError('required') && preguntaSelecForm.get('pregunta2')?.touched">
                    <span>La pregunta 2 <strong>es obligatorio</strong></span>
                  </div>
                </div>
                <br>
                <div class="row">
                  <tr>
                    <td><label align-items="left" for="campo-select">Selecciona la pregunta 3 sobre el precio:</label></td>
                  </tr>
                  <select formControlName="pregunta3">
                    <option *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
                      {{ bancoPregu.pregunta }}
                    </option>
                  </select>
                  <div class="text-danger" *ngIf="preguntaSelecForm.get('pregunta3')?.hasError('required') && preguntaSelecForm.get('pregunta3')?.touched">
                    <span>La pregunta 3 <strong>es obligatorio</strong></span>
                  </div>
                </div>
                <br>
                <div class="row">
                  <tr>
                    <td><label align-items="left" for="campo-select">Selecciona la pregunta 4 sobre la calidad:</label></td>
                  </tr>
                  <select formControlName="pregunta4">
                    <option *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
                      {{ bancoPregu.pregunta }}
                    </option>
                  </select>
                  <div class="text-danger" *ngIf="preguntaSelecForm.get('pregunta4')?.hasError('required') && preguntaSelecForm.get('pregunta4')?.touched">
                    <span>La pregunta 4 <strong>es obligatorio</strong></span>
                  </div>
                </div>
                <br>
                <div class="row">
                  <tr>
                    <td><label align-items="left" for="campo-select">Selecciona la pregunta 5 sobre la calidad:</label></td>
                  </tr>
                  <select formControlName="pregunta5">
                    <option *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
                      {{ bancoPregu.pregunta }}
                    </option>
                  </select>
                  <div class="text-danger" *ngIf="preguntaSelecForm.get('pregunta5')?.hasError('required') && preguntaSelecForm.get('pregunta5')?.touched">
                    <span>La pregunta 5 <strong>es obligatorio</strong></span>
                  </div>
                </div>
                <br>
                <div class="row">
                  <tr>
                    <td><label align-items="left" for="campo-select">Selecciona la pregunta 6 sobre la calidad:</label></td>
                  </tr>
                  <select formControlName="pregunta6">
                    <option *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
                      {{ bancoPregu.pregunta }}
                    </option>
                  </select>
                  <div class="text-danger" *ngIf="preguntaSelecForm.get('pregunta6')?.hasError('required') && preguntaSelecForm.get('pregunta6')?.touched">
                    <span>La pregunta 6 <strong>es obligatorio</strong></span>
                  </div>
                </div>
                <br>
                <div class="row">
                  <tr>
                    <td><label align-items="left" for="campo-select">Selecciona la pregunta 7 sobre la calidad:</label></td>
                  </tr>
                  <select formControlName="pregunta7">
                    <option *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
                      {{ bancoPregu.pregunta }}
                    </option>
                  </select>
                  <div class="text-danger" *ngIf="preguntaSelecForm.get('pregunta7')?.hasError('required') && preguntaSelecForm.get('pregunta7')?.touched">
                    <span>La pregunta 7 <strong>es obligatorio</strong></span>
                  </div>
                </div>
                <br>
                <div class="row">
                  <tr>
                    <td><label align-items="left" for="campo-select">Selecciona la pregunta 8 sobre la comunidad:</label></td>
                  </tr>
                  <select formControlName="pregunta8">
                    <option *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
                      {{ bancoPregu.pregunta }}
                    </option>
                  </select>
                  <div class="text-danger" *ngIf="preguntaSelecForm.get('pregunta8')?.hasError('required') && preguntaSelecForm.get('pregunta8')?.touched">
                    <span>La pregunta 8 <strong>es obligatorio</strong></span>
                  </div>
                </div>
                <br>
                <div class="row">
                  <tr>
                    <td><label align-items="left" for="campo-select">Selecciona la pregunta 9 sobre la comunidad:</label></td>
                  </tr>
                  <select formControlName="pregunta9">
                    <option *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
                      {{ bancoPregu.pregunta }}
                    </option>
                  </select>
                  <div class="text-danger" *ngIf="preguntaSelecForm.get('pregunta9')?.hasError('required') && preguntaSelecForm.get('pregunta9')?.touched">
                    <span>La pregunta 9 <strong>es obligatorio</strong></span>
                  </div>
                </div>
                <br>
                <div class="row">
                  <tr>
                    <td><label align-items="left" for="campo-select">Selecciona la pregunta 10 sobre la comunidad:</label></td>
                  </tr>
                  <select formControlName="pregunta10">
                    <option *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
                      {{ bancoPregu.pregunta }}
                    </option>
                  </select>
                  <div class="text-danger" *ngIf="preguntaSelecForm.get('pregunta10')?.hasError('required') && preguntaSelecForm.get('pregunta10')?.touched">
                    <span>La pregunta 10 <strong>es obligatorio</strong></span>
                  </div>
                </div>
                  <!--Boton de enviar-->
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit"  id="form-submit" class="main-button ">Enviar Pregunta</button>
                    </fieldset>
                  </div>
              </div>
              <div class="col-lg-4">
                <div class="contact-info">
                  <ul>
                    <li>
                      <div class="icon">
                        <img src="assets/images/contact-icon-01.png" alt="email icon">
                      </div>
                      <a href="#">MarketingB@company.com</a>
                    </li>
                    <li>
                      <div class="icon">
                        <img src="assets/images/contact-icon-02.png" alt="phone">
                      </div>
                      <a href="#">+52 5542190095</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>

