<app-nabvar-user></app-nabvar-user><br><br><br><br>

<div class="container mt-5">
    <h1 class="text-center">Encuestas</h1>     
    <button type="button" class="btn btn-success float-end m-2" routerLink="/preguntasSeleccionadas">agregar</button>
    <br><br>
    <div id="div1">     
    <table class="table table-dark table-responsive table-hover scroll">
      <thead>
        <tr class="text-center">
          <th>Pregunta 1</th>
          <th>Pregunta 2</th>
          <th>Pregunta 3</th>
          <th>Pregunta 4</th>
          <th>Pregunta 5</th>
          
          <th>Operaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let preguntaSelec of listaPreguntaSelec" class="text-justify">
          <td>{{preguntaSelec.pregunta1}}</td>
          <td>{{preguntaSelec.pregunta2}}</td>
          <td>{{preguntaSelec.pregunta3}}</td>
          <td>{{preguntaSelec.pregunta4}}</td>
          <td>{{preguntaSelec.pregunta5}}</td>
          
          <td>
            <button [routerLink]="['/encuestasUser', preguntaSelec._id]" type="button" class="btn mt-5 btn-success">Visualizar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> 
</div>
  