.chatbot-button {
  display: inline-block;
  width: 80px; /* Ajusta el tamaño del botón según tus necesidades */
  height: 80px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 1px 2px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  left: 20px;
}
.chatbot-image {
  max-width: 100%;
  height: 80px;
  overflow: hidden;
}
