<app-nabvar-user></app-nabvar-user><br><br><br><br>
<div class="container mt-5 table-responsive">

    <h1 class="text-center">Lista de solicitudes</h1><br>
    <table class="table table-bordered border-primary table-hover">
      <thead class="table-dark">
        <tr class="text-center">
          <th>Empresa</th>
          <th>Encargado</th>
          <th>Articulo</th>
          <th>Categoria</th>
          <th>Marca</th>
          <th>Operaciones</th>
        </tr>
      </thead>
      <tbody *ngFor="let solicitud of listaSolicitudes">
        <tr  class="text-center" *ngIf="solicitud.usuario === correo">
          <td>{{solicitud.empresa}}</td>
          <td>{{solicitud.encargado}}</td>
          <td>{{solicitud.nombreArticulo}}</td>
          <td>{{solicitud.categoria}}</td>
          <td>{{solicitud.marcaArticulo}}</td>
          <td>
            <button [routerLink]="['/editarSolicitudUser', solicitud._id]" type="button" class="btn btn-warning me-2">editar</button>
            <button (click)="eliminarSolicitud(solicitud._id)" type="button" class="btn btn-danger">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button  class="floating-btn" (click)="toggleChatbot()" class="btn btn-primary chatbot-button">
    <img src="assets/images/chat.jpg" alt="Chatbot" class="chatbot-image" />
  </button><br>
  <app-chatbot-popup *ngIf="isChatbotVisible"></app-chatbot-popup>