<div id="contact" class="contact-us section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
        <form id="contact" action="" method="post">
          <div class="row">
            <div class="col-lg-6 offset-lg-3">
              <div class="section-heading">
                <h6>Encuesta Configurada</h6>
              </div>
            </div>
            <div class="col-lg-9">
              <div class="row">
                <div class="col-lg-6">
                  <fieldset>
                    <input type="date" name="fechaInicio" id="fechaInicio" placeholder="Fecha Inicio" autocomplete="on" required>
                  </fieldset>
                </div>
                <div class="col-lg-6">
                  <fieldset>
                    <input type="date" name="fechaFinal" id="fechaFinal" placeholder="Fecha Final" autocomplete="on" required>
                  </fieldset>
                </div>
                <div class="col-lg-6">
                  <fieldset>
                    <input type="text" name="titulo" id="titulo" placeholder="Titulo" autocomplete="on" required>
                  </fieldset>
                </div>
                <div class="col-lg-6">
                  <fieldset>
                    <select id="poblacion" name="poblacion">
                      <option value="niño">Niño</option>
                      <option value="joven">Joven</option>
                      <option value="adulto">Adulto</option>
                      <option value="adultoMayor">Adulto Mayor</option>
                    </select>
                  </fieldset>
                </div>
                <div class="col-lg-6">
                  <fieldset>
                      <ul>
                      <li>Producto</li>
                      <li>Servicio</li><br><br>
                    </ul>
                  </fieldset>
                </div>
                <div class="col-lg-6">
                  <fieldset>
                    <input type="number" name="nEncuestas" id="nEncuestas" placeholder="Número Encuesta" autocomplete="on" required>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <ul>
                      <li>Pregunta 1</li>
                      <li>Pregunta 2</li>
                      <li>Pregunta 3</li>
                      <li>Pregunta 4</li><br><br>
                    </ul>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="main-button">Enviar</button>
                    <button type="submit" id="form-submit" class="main-button">Cancelar</button>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="contact-info">
                <ul>
                  <li>
                    <div class="icon">
                      <img src="assets/images/contact-icon-01.png" alt="email icon">
                    </div>
                    <a href="#">info@company.com</a>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/contact-icon-02.png" alt="phone">
                    </div>
                    <a href="#">+001-002-0034</a>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/contact-icon-03.png" alt="location">
                    </div>
                    <a href="#">26th Street, Digital Villa</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

