<app-navbar-admin></app-navbar-admin><br><br><br><br>
<div class="container mt-5">
    <h1 class="text-center">Lista de respuestas de encuestas</h1>
    <button [routerLink]="['/respuestasEncuestas']" type="button" class="btn btn-success float-end m-2">agregar</button>
    <table class="table table-dark table-hover">
      <thead>
        <tr class="text-center">
          <th>Respuesta1</th>
          <th>Respuesta2</th>
          <th>Respuesta3</th>
          <th>Respuesta4</th>
          <th>Respuesta5</th>
          <th>Respuesta6</th>
          <th>Operación</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let respuestas of listaRespuestas" class="text-center">
          <td>{{respuestas.respuesta1}}</td>
          <td>{{respuestas.respuesta2}}</td>
          <td>{{respuestas.respuesta3}}</td>
          <td>{{respuestas.respuesta4}}</td>
          <td>{{respuestas.respuesta5}}</td>
          <td>{{respuestas.respuesta6}}</td>
          <td>

            <button (click)="eliminarRespuestas(respuestas._id)" type="button" class="btn btn-danger">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
