<app-navbar-admin></app-navbar-admin>
<div id="contact" class="contact-us section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
        <form id="contact" [formGroup]="encuestaConfiguradaForm" (ngSubmit)="agregarEncuestaConfigurada()">
          <div class="row">
            <div class="col-lg-6 offset-lg-3">
              <div class="section-heading">
                <h6>Encuesta Configurada</h6>
              </div>
            </div>
            <div class="col-lg-9">
              <div class="row">
                <div class="col-lg-6">
                  <fieldset>
                    <input type="name" formControlName="fechaInicio" name="fechaInicio" id="fechaInicio" placeholder="Fecha Inicio" autocomplete="on" required>
                    <div class="text-danger" *ngIf="encuestaConfiguradaForm.get('fechaInicio')?.hasError('required') && encuestaConfiguradaForm.get('fechaInicio')?.touched">
                      <span>La fecha inicial <strong>es obligatoria</strong></span>
                    </div>
                  </fieldset>
                </div>
                <div class="col-lg-6">
                  <fieldset>
                    <input type="surname" formControlName="fechaFinal" name="fechaFinal" id="fechaFinal" placeholder="Fecha Final" autocomplete="on" required>
                    <div class="text-danger" *ngIf="encuestaConfiguradaForm.get('fechaFinal')?.hasError('required') && encuestaConfiguradaForm.get('fechaFinal')?.touched">
                      <span>La fecha de termino <strong>es obligatoria</strong></span>
                    </div>
                  </fieldset>
                </div>
                <div class="col-lg-6">
                  <fieldset>
                    <input class="form-control" formControlName="titulo" type="text" name="titulo" id="titulo" placeholder="Titulo" autocomplete="on" required>
                    <div class="text-danger" *ngIf="encuestaConfiguradaForm.get('titulo')?.hasError('required') && encuestaConfiguradaForm.get('titulo')?.touched">
                      <span>El titulo <strong>es obligatorio</strong></span>
                    </div>
                  </fieldset>
                </div>
                <div class="col-lg-6">
                  <fieldset>
                    <select class="form-control" formControlName="poblacion" type="text" name="poblacion" id="poblacion" required>
                      <option value="niño">Niño</option>
                      <option value="joven">Joven</option>
                      <option value="adulto">Adulto</option>
                      <option value="adultoMayor">Adulto Mayor</option>
                      <span>La poblacion <strong>es obligatorio</strong></span>
                    </select>
                  </fieldset>
                </div>
                <div class="col-lg-6">
                  <fieldset>
                    <ul name="articulo">
                      <li>Producto</li>
                      <li>Servicio</li>
                    </ul>
                  </fieldset>
                </div>
                <div class="col-lg-6">
                  <fieldset>
                    <input class="form-control" formControlName="numeroEncuesta" type="number" name="numeroEncuesta" id="numeroEncuesta" placeholder="Número de encuesta" autocomplete="on" required>
                    <div class="text-danger" *ngIf="encuestaConfiguradaForm.get('numeroEncuesta')?.hasError('required') && encuestaConfiguradaForm.get('numeroEncuesta')?.touched">
                      <span>El número de encuesta  <strong>es obligatorio</strong></span>
                    </div>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <ul name="preguntas">
                      <li>Pregunta 1</li>
                      <li>Pregunta 2</li>
                      <li>Pregunta 3</li>
                      <li>Pregunta 4</li>
                    </ul>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" [disabled]="encuestaConfiguradaForm.invalid" id="form-submit" class="main-button ">Enviar encuesta configurada</button>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="contact-info">
                <ul>
                  <li>
                    <div class="icon">
                      <img src="assets/images/contact-icon-01.png" alt="email icon">
                    </div>
                    <a href="#">MarketingB@company.com</a>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/contact-icon-02.png" alt="phone">
                    </div>
                    <a href="#">++52 5542190095</a>
                  </li>
                  <li>

                  </li>
                </ul>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
