<app-nabvar-user></app-nabvar-user><br><br><br><br><br>

<div class="d-flex justify-content-center mp-3">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center">ChatBot</h1>
                <div class="mp-">
                <iframe width="620" height="630" allow="fullscree;"
                    src="https://console.dialogflow.com/api-client/demo/embedded/5725799d-a8cc-4b97-88fe-ebd1b86c67f5"></iframe>
                </div><br>
                <a routerLink="/userVista" class="btn btn-danger">Volver</a>
            </div>
        </div>
    </div>