
<div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
            <img src="assets/images/about-left-image.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="section-heading">
            <h6>ACERCA DE NOSOTROS</h6>
            <h2><em>MarketingBoots</em> para realizar encuestas sobre <span>Productos</span> &amp; <span>Servicios</span> </h2>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-4">
              <div class="about-item">
                <h4>50+</h4>
                <h6>Encuestas Realizadas</h6>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="about-item">
                <h4>40+</h4>
                <h6>Clientes Satisfechos</h6>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="about-item">
                <h4>28+</h4>
                <h6>Usuarios</h6>
              </div>
            </div>
          </div>
          <p align="justify">El objetivo del proyecto es realizar encuestas sobre algun producto o servicio que saldrán al mercado, para asi tener un porcentaje y ya tengan una noción de su impacto que pueda predecir que forma de publicidad manejar y en qué sectores.</p>
          <div class="main-green-button"><a href="#">más...</a></div>
        </div>
      </div>
    </div>
  </div>

