<!-- Contenido del chatbot (puedes personalizarlo según tus necesidades) -->
<div class="chatbot-container">

<div class="d-flex justify-content-center mp-3">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              
              <div class="mp-">
              <iframe width="340" height="350" allow="fullscree;"
                  src="https://console.dialogflow.com/api-client/demo/embedded/5725799d-a8cc-4b97-88fe-ebd1b86c67f5"></iframe>
              </div><br>

          </div>
      </div>
  </div>
  <!-- Aquí puedes agregar la lógica del chatbot y mostrar los mensajes -->
</div>


