.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 16px;
  background-color: #85C1E9 ;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 40%; /* Ajusta el ancho del contenedor a tus necesidades */
  max-width: 400px; /* Establece un ancho máximo para pantallas pequeñas */
  padding: 16px;
}



