<app-nabvar-user></app-nabvar-user> <br><br><br><br>

<br />
<div class="container">
  <section class="row">
    <div class="col-md-12">
      <h1 class="text-center">Encuesta.</h1>
    </div>
  </section>
  <hr><br />
  <section class="row">
    <section class="col-md-12">
      <h3>Datos basicos</h3>
      <p></p>
    </section>
  </section>
  <section class="row">
    <section class="col-md-12">
    
      <section class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label for="nombreCompleto">Nombre Completo: *</label>
            <input type="text" class="form-control" id="nombreCompleto" maxlength="128" placeholder="Nombre Compelto" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form_group">
            <label for="edadEncuestado">Edad:*</label>
            <input type="number" class="form-control" id="edadEncuestado" placeholder="Edad" maxlength="3" required/>
          </div>
        </div>
      </section>
      <section class="row">
        <div class="col-md-4">
          <div class="form-group"> <br>
            <label for="idIdentificacion">Ubicacion: *</label>
            <input type="number" id="idIdentificacion" class="form-control" placeholder="Google" maxlength="15" required/>
          </div>
        </div>
        
        <br>
      </section>
      <br>
    </section>
 <br>
  <hr />
  <!--  Servicios  -->
  <section class="row">
    <div class="col-md-12">
      <h3>Preguntas.</h3>
      <p></p>
    </div>
  </section>
<form [formGroup]="preguntaSelecForm"><br>
  <label>Pregunta 1:</label>
  <select formControlName="pregunta1" >
    <option disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta }}
    </option>
  </select><br>
  <label> Respuesta 1:</label>
  <div class="form-check form-check-inline">
    <input class="form-check-input ms-2"  type="checkbox" id="inlineCheckbox1" value="1" >
    <label class="form-check-label" for="inlineCheckbox1">1</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input " type="checkbox" id="inlineCheckbox2" value="5">
    <label class="form-check-label" for="inlineCheckbox2">5</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="10">
    <label class="form-check-label" for="inlineCheckbox3">10</label>
  
  </div><br> <br>
  
  <label>Pregunta 2:</label>
  <select formControlName="pregunta2" >
    
    <option disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta }}
    </option>
  </select><br>
  <label> Respuesta 2:</label>
  <div class="form-check form-check-inline">
    <input class="form-check-input ms-2" type="checkbox" id="inlineCheckbox1" value="1">
    <label class="form-check-label" for="inlineCheckbox1">1</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input " type="checkbox" id="inlineCheckbox2" value="5">
    <label class="form-check-label" for="inlineCheckbox2">5</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="10">
    <label class="form-check-label" for="inlineCheckbox3">10</label>
  
  </div><br> <br>

  
  <label>Pregunta 3:</label>
  <select formControlName="pregunta3" >
    
    <option disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta }}
    </option>
  </select><br>
  <label> Respuesta 3:</label>
  <div class="form-check form-check-inline">
    <input class="form-check-input ms-2" type="checkbox" id="inlineCheckbox1" value="1">
    <label class="form-check-label" for="inlineCheckbox1">1</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input " type="checkbox" id="inlineCheckbox2" value="5">
    <label class="form-check-label" for="inlineCheckbox2">5</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="10">
    <label class="form-check-label" for="inlineCheckbox3">10</label>
  
  </div><br> <br>
  <label>Pregunta 4:</label>
  <select formControlName="pregunta4" >
    
    <option disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta }}
    </option>
  </select><br>
  <label> Respuesta 4:</label>
  <div class="form-check form-check-inline">
    <input class="form-check-input ms-2" type="checkbox" id="inlineCheckbox1" value="1">
    <label class="form-check-label" for="inlineCheckbox1">1</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input " type="checkbox" id="inlineCheckbox2" value="5">
    <label class="form-check-label" for="inlineCheckbox2">5</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="10">
    <label class="form-check-label" for="inlineCheckbox3">10</label>
  
  </div><br> <br>
  <label>Pregunta 5:</label>
  <select formControlName="pregunta5" >
    
    <option disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta }}
    </option>
  </select><br>
  <label> Respuesta 5:</label>
  <div class="form-check form-check-inline">
    <input class="form-check-input ms-2" type="checkbox" id="inlineCheckbox1" value="1">
    <label class="form-check-label" for="inlineCheckbox1">1</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input " type="checkbox" id="inlineCheckbox2" value="5">
    <label class="form-check-label" for="inlineCheckbox2">5</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="10">
    <label class="form-check-label" for="inlineCheckbox3">10</label>
  
  </div><br> <br>
  <label>Pregunta 6:</label>
  <select formControlName="pregunta6" >
    
    <option disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta }}
    </option>
  </select><br>
  <label> Respuesta 6:</label>
  <div class="form-check form-check-inline">
    <input class="form-check-input ms-2" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
    <label class="form-check-label" for="inlineRadio1" with="100px">1</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input " type="radio" name="inlineRadioOptions" id="inlineRadio2" value="5">
    <label class="form-check-label" for="inlineRadio2">5</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="10">
    <label class="form-check-label" for="inlineRadio1" with="100px">10</label>
  </div><br> <br>
  <label>Pregunta 7:</label>
  <select formControlName="pregunta7" >
    
    <option disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta }}
    </option>
  </select><br>
  <label> Respuesta 7:</label>
  <div class="form-check form-check-inline">
    <input class="form-check-input ms-2" type="checkbox" id="inlineCheckbox1" value="1">
    <label class="form-check-label" for="inlineCheckbox1">1</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input " type="checkbox" id="inlineCheckbox2" value="5">
    <label class="form-check-label" for="inlineCheckbox2">5</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="10">
    <label class="form-check-label" for="inlineCheckbox3">10</label>
  
  </div><br> <br>
  <label>Pregunta 8:</label>
  <select formControlName="pregunta8" >
    
    <option disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta }}
    </option>
  </select><br>
  <label> Respuesta 8:</label>
  <div class="form-check form-check-inline">
    <input class="form-check-input ms-2" type="checkbox" id="inlineCheckbox1" value="1">
    <label class="form-check-label" for="inlineCheckbox1">1</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input " type="checkbox" id="inlineCheckbox2" value="5">
    <label class="form-check-label" for="inlineCheckbox2">5</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="10">
    <label class="form-check-label" for="inlineCheckbox3">10</label>
  
  </div><br> <br>
  <label>Pregunta 9:</label>
  <select formControlName="pregunta9" >
    
    <option disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta }}
    </option>
  </select><br><label> Respuesta 9:</label>
  <div class="form-check form-check-inline">
    <input class="form-check-input ms-2" type="checkbox" id="inlineCheckbox1" value="1">
    <label class="form-check-label" for="inlineCheckbox1">1</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input " type="checkbox" id="inlineCheckbox2" value="5">
    <label class="form-check-label" for="inlineCheckbox2">5</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="10">
    <label class="form-check-label" for="inlineCheckbox3">10</label>
  
  </div><br> <br>
  <label>Pregunta 10:</label>
  <select formControlName="pregunta10" >
    <option disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta }}
    </option>
  </select><br>
  <label> Respuesta 10:</label>
  <div class="form-check form-check-inline">
    <input class="form-check-input ms-2" type="checkbox" id="inlineCheckbox1" value="1">
    <label class="form-check-label" for="inlineCheckbox1">1</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input " type="checkbox" id="inlineCheckbox2" value="5">
    <label class="form-check-label" for="inlineCheckbox2">5</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="10">
    <label class="form-check-label" for="inlineCheckbox3">10</label>
  
  </div><br> <br>
  <fieldset>
    <button type="submit"  id="form-submit" class="main-button ">Enviar Pregunta</button>
  </fieldset>
</form>


<br> <br>
