<app-nabvar-user></app-nabvar-user> <br><br><br><br>

<br />
<div class="container">
  
  <hr><br />
  
 
  <section class="row">
    <section class="col-md-12">
      <form [formGroup]="EncuestaForm" (ngSubmit)="agregarEncuesta()">
     
      <h1  class="text-center" style="text-transform: uppercase;"><strong>{{titulo}}</strong></h1>  <br><br> 
      <section class="row">
        <div class="col-md-8">
          <h2><strong> Datos de la encuestas</strong></h2>
          <div class="form-group">
            <h5>Empresa: {{empresa}}</h5> 
            <h5>Marca: {{marca}}</h5>
        <h5> Nombre del producto/servicio: {{nombreArticulo}}</h5>
        <h5>Precio: ${{precioArticulo}}</h5><br><br>
      </div>
        </div>
        <h2><strong> Encuesta</strong></h2>
        <div class="col-md-8">
          <div class="form-group">
            <label for="nombreCompleto">Nombre Completo: *</label>
            <input type="text" formControlName="nombre" class="form-control" id="nombreCompleto" maxlength="128" placeholder="Nombre Completo" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form_group">
            <label for="edadEncuestado">Edad:*</label>
            <input type="number" formControlName="edad" class="form-control" id="edadEncuestado" placeholder="Edad" maxlength="3" required/>
          </div>
        </div>
      </section>
      <section class="row">
        <div class="col-md-4">
          <div class="form-group"> <br>
            <label for="idIdentificacion">Ubicacion: *</label>
            <input type="texto"  formControlName="direccion" id="idIdentificacion" class="form-control" placeholder="Ingrese su domicilio" maxlength="15" required/>
          </div>
        </div>
        <br>
      </section>
      <br>
   
 <br>
  <hr/>
  <!--  Servicios  -->
  <section class="row">
    <div class="col-md-12">
      <h3>Preguntas.</h3>
      <p>Pregunta 1: <strong>{{pregunta1}}</strong></p>
        <div class="col-md-3 container text-center"> 
            <p>Respuesta 1</p>
            <select formControlName="respuesta1"  formControlName="respuesta1" id="pregunta1" class="form-control border border-success" required>
              <option value="" disabled> --Seleciona una opción--</option>
              <option *ngFor="let opcion of opciones" [value]="opcion.valor">{{ opcion.texto }}</option>
            </select>
        </div>
    </div> <br>
    
      <div class="col-md-12">
        <p>Pregunta 2: <strong>{{pregunta2}}</strong></p>
          <div class="col-md-3 container text-center"> 
              <p>Respuesta 2</p>
              <select formControlName="respuesta2" id="respuesta2" class="form-control border border-success" required>
                <option value="" disabled> --Seleciona una opción--</option>
                <option *ngFor="let opcion of opciones" [value]="opcion.valor">{{ opcion.texto }}</option>
              </select>
          </div>
      </div> <br>
      <div class="col-md-12">
        <p>Pregunta 3: <strong>{{pregunta3}}</strong></p>
          <div class="col-md-3 container text-center"> 
              <p>Respuesta 3</p>
              <select   formControlName="respuesta3" id="pregunta1" class="form-control border border-success" required>
                <option value="" disabled> --Seleciona una opción--</option>
                <option *ngFor="let opcion of opciones" [value]="opcion.valor">{{ opcion.texto }}</option>
              </select>
          </div>
      </div> <br>
      <div class="col-md-12">
        <p>Pregunta 4: <strong>{{pregunta4}}</strong></p>
          <div class="col-md-3 container text-center"> 
              <p>Respuesta 4</p>
              <select  formControlName="respuesta4" id="pregunta1" class="form-control border border-success" required>
                <option value="" disabled> --Seleciona una opción--</option>
                <option *ngFor="let opcion of opciones" [value]="opcion.valor">{{ opcion.texto }}</option>
              </select>
          </div>
      </div> <br>
      <div class="col-md-12">
        <p>Pregunta 5: <strong>{{pregunta5}}</strong></p>
          <div class="col-md-3 container text-center"> 
              <p>Respuesta 5</p>
              <select   formControlName="respuesta5" id="pregunta1" class="form-control border border-success" required>
                <option value="" disabled> --Seleciona una opción--</option>
                <option *ngFor="let opcion of opciones" [value]="opcion.valor">{{ opcion.texto }}</option>
              </select>
          </div>
      </div> <br>
      <div class="col-md-12">
        <p>Pregunta 6: <strong>{{pregunta6}}</strong></p>
          <div class="col-md-3 container text-center"> 
              <p>Respuesta 6</p>
              <select  formControlName="respuesta6" id="pregunta1" class="form-control border border-success" required>
                <option value="" disabled> --Seleciona una opción--</option>
                <option *ngFor="let opcion of opciones" [value]="opcion.valor">{{ opcion.texto }}</option>
              </select>
          </div>
      </div> <br>
      <div class="col-md-12">
        <p>Pregunta 7: <strong>{{pregunta7}}</strong></p>
          <div class="col-md-3 container text-center"> 
              <p>Respuesta 7</p>
              <select   formControlName="respuesta7" id="pregunta1" class="form-control border border-success" required>
                <option value="" disabled> --Seleciona una opción--</option>
                <option *ngFor="let opcion of opciones" [value]="opcion.valor">{{ opcion.texto }}</option>
              </select>
          </div>
      </div> <br>
      <div class="col-md-12">
        <p>Pregunta 8: <strong>{{pregunta8}}</strong></p>
          <div class="col-md-3 container text-center"> 
              <p>Respuesta 8</p>
              <select   formControlName="respuesta8" id="pregunta1" class="form-control border border-success" required>
                <option value="" disabled> --Seleciona una opción--</option>
                <option *ngFor="let opcion of opciones" [value]="opcion.valor">{{ opcion.texto }}</option>
              </select>
          </div>
      </div> <br>
      <div class="col-md-12">
        <p>Pregunta 9: <strong>{{pregunta9}}</strong></p>
          <div class="col-md-3 container text-center"> 
              <p>Respuesta 9</p>
              <select   formControlName="respuesta9" id="pregunta1" class="form-control border border-success" required>
                <option value="" disabled> --Seleciona una opción--</option>
                <option *ngFor="let opcion of opciones" [value]="opcion.valor">{{ opcion.texto }}</option>
              </select>
          </div>
      </div> <br>
      <div class="col-md-12">
        <p>Pregunta 10: <strong>{{pregunta10}}</strong></p>
          <div class="col-md-3 container text-center"> 
              <p>Respuesta 10</p>
              <select   formControlName="respuesta10" id="pregunta1" class="form-control border border-success" required>
                <option value="" disabled> --Seleciona una opción--</option>
                <option *ngFor="let opcion of opciones" [value]="opcion.valor">{{ opcion.texto }}</option>
              </select>
          </div>
      </div> <br>
  </section>
  
 
    <button type="submit" id="form-submit" class="main-button ">Enviar Pedido</button>
  
</form>



<br> <br>
