<app-nabvar-user></app-nabvar-user> <br><br><br><br>

<br />
<div class="container">
  
  <hr><br />
  
 
  <section class="row">
    <section class="col-md-12">
      <form [formGroup]="EncuestaForm">
     
      <h1  class="text-center"><strong><input type="text"  formControlName="titulo" style="border: none; text-transform: uppercase" ></strong></h1>  <br><br> 
      <section class="row">
        <div class="col-md-8">
          <h2><strong> Datos de la encuestasss</strong></h2>
          <div class="form-group">
            <h5>Empresa: <input type="text"  formControlName="empresa" style="border: none; " ></h5> 
            <h5>Marca:<input type="text"  formControlName="marcaArticulo" style="border: none; " ></h5>
        <h5>  Nombre del producto/servicio: <input type="text"  formControlName="nombreArticulo" style="border: none; " ></h5>
        <h5>Precio: $<input type="text"  formControlName="precioArticulo" style="border: none; " ></h5>    <br><br>
      </div>
        </div>
        <h2><strong> Encuesta</strong></h2>
        <div class="col-md-8">
          <div class="form-group">
            <label for="nombreCompleto">Nombre Completo: *</label>
            <input type="text" formControlName="nombre" class="form-control" id="nombreCompleto" maxlength="128" placeholder="Nombre Completo" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form_group">
            <label for="edadEncuestado">Edad:*</label>
            <input type="number" formControlName="edad" class="form-control" id="edadEncuestado" placeholder="Edad" maxlength="3" required/>
          </div>
        </div>
      </section>
      <section class="row">
        <div class="col-md-4">
          <div class="form-group"> <br>
            <label for="idIdentificacion">Ubicacion: *</label>
            <input type="texto"  formControlName="Ubicacion" id="idIdentificacion" class="form-control" placeholder="Ingrese su domicilio" maxlength="15" required/>
          </div>
        </div>

        <br>
      </section>
      <br>
   
 <br>
  <hr />
  <!--  Servicios  -->
  <section class="row">
    <div class="col-md-12">
      <h3>Preguntas.</h3>
      <p></p>
    </div>
  </section>
  
  <label>Pregunta 1:</label>
  <select formControlName="pregunta1" style="border: none;" >
    <option ng-disabled="disabled" disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta.toString() }}
    </option>
  </select>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <label for="opcionSelect">Selecciona su respuesta:</label>
          <select class="form-control" id="res0" >
            <option value="5">Totalmente de acuerdo</option>
            <option value="3">De acuerdo</option>
            <option value="0">En desacuerdo</option>
          </select>
        </div>
      </div>
    </div>
 
  </div><br> <br>

  <label>Pregunta 2:</label>
  <select formControlName="pregunta2" style="border: none;">

    <option disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta }}
    </option>
  </select><br>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <label for="opcionSelect">Selecciona su respuesta:</label>
          <select class="form-control" id="res2" >
            <option value="5">Totalmente de acuerdo</option>
            <option value="3">De acuerdo</option>
            <option value="0">En desacuerdo</option>
          </select>
        </div>
      </div>
    </div>

  </div><br> <br>


  <label>Pregunta 3:</label>
  <select formControlName="pregunta3" style="border: none;">

    <option disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta }}
    </option>
  </select><br>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <label for="opcionSelect">Selecciona su respuesta:</label>
          <select class="form-control" id="res3" >
            <option value="5">Totalmente de acuerdo</option>
            <option value="3">De acuerdo</option>
            <option value="0">En desacuerdo</option>
          </select>
        </div>
      </div>
    </div>
  </div><br> <br>
  <label>Pregunta 4:</label>
  <select formControlName="pregunta4" style="border: none;">

    <option disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta }}
    </option>
  </select><br>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <label for="opcionSelect">Selecciona su respuesta:</label>
          <select class="form-control" id="r1" >
            <option value="5">Totalmente de acuerdo</option>
            <option value="3">De acuerdo</option>
            <option value="0">En desacuerdo</option>
          </select>
        </div>
      </div>
    </div>
  </div><br> <br>
  <label>Pregunta 5:</label>
  <select formControlName="pregunta5" style="border: none;">

    <option disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta }}
    </option>
  </select><br>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <label for="opcionSelect">Selecciona su respuesta:</label>
          <select class="form-control" id="opcionSelect" >
            <option value="5">Totalmente de acuerdo</option>
            <option value="3">De acuerdo</option>
            <option value="0">En desacuerdo</option>
          </select>
        </div>
      </div>
    </div>
  </div><br> <br>
  <label>Pregunta 6:</label>
  <select formControlName="pregunta6" style="border: none;">

    <option disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta }}
    </option>
  </select><br>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <label for="opcionSelect">Selecciona su respuesta:</label>
          <select class="form-control" id="opcionSelect" >
            <option value="5">Totalmente de acuerdo</option>
            <option value="3">De acuerdo</option>
            <option value="0">En desacuerdo</option>
          </select>
        </div>
      </div>
    </div>
  </div><br> <br>
  <label>Pregunta 7:</label>
  <select formControlName="pregunta7" style="border: none;">

    <option disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta }}
    </option>
  </select><br>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <label for="opcionSelect">Selecciona su respuesta:</label>
          <select class="form-control" id="opcionSelect" formControlName="respuesta7">
            <option value="5">Totalmente de acuerdo</option>
            <option value="3">De acuerdo</option>
            <option value="0">En desacuerdo</option>
          </select>
        </div>
      </div>
    </div>
  </div><br> <br>
  <label>Pregunta 8:</label>
  <select formControlName="pregunta8"style="border: none;" >

    <option disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta }}
    </option>
  </select><br>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <label for="opcionSelect">Selecciona su respuesta:</label>
          <select class="form-control" id="opcionSelect" formControlName="respuesta8">
            <option value="5">Totalmente de acuerdo</option>
            <option value="3">De acuerdo</option>
            <option value="0">En desacuerdo</option>
          </select>
        </div>
      </div>
    </div>
  </div><br> <br>
  <label>Pregunta 9:</label>
  <select formControlName="pregunta9" style="border: none;">

    <option disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta }}
    </option>
  </select><br>
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="form-group">
            <label for="opcionSelect">Selecciona su respuesta:</label>
            <select class="form-control" id="opcionSelect" formControlName="respuesta9">
              <option value="5">Totalmente de acuerdo</option>
              <option value="3">De acuerdo</option>
              <option value="0">En desacuerdo</option>
            </select>
          </div>
        </div>
      </div>
    </div><br> <br>
 
  <label>Pregunta 10:</label>
  <select formControlName="pregunta10" style="border: none;">
    <option disabled *ngFor="let bancoPregu of listaBancoPregu" [value]="bancoPregu.pregunta ? bancoPregu.pregunta.toString() : ''">
      {{ bancoPregu.pregunta }}
    </option>
  </select><br>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <label for="opcionSelect">Selecciona su respuesta:</label>
          <select class="form-control" id="opcionSelect" formControlName="respuesta10">
            <option value="5">Totalmente de acuerdo</option>
            <option value="3">De acuerdo</option>
            <option value="0">En desacuerdo</option>
          </select>
        </div>
      </div>
    </div>
  </div><br> <br>
  <fieldset>
    <button type="submit" id="form-submit" class="main-button ">Enviar Pedido</button>
  </fieldset>
</form>



<br> <br>
