<app-navbar-admin></app-navbar-admin><br><br><br><br>
<div class="container mt-3">
  <h1 class="text-center">Lista de encuestas configuradas</h1>
  <button type="button" class="btn btn-success float-end m-2">agregar</button>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Fecha inicio</th>
          <th>Fecha final</th>
          <th>Titulo</th>
          <th>Población</th>
          <th>Articulo</th>
          <th>Número de encuesta</th>
          <th>Preguntas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let encuestaConfigurada of listaEncuestaConfigurada" class="text-center">
          <td>{{encuestaConfigurada.fechaInicio}}</td>
          <td>{{encuestaConfigurada.fechaFinal}}</td>
          <td>{{encuestaConfigurada.titulo}}</td>
          <td> {{encuestaConfigurada.poblacion}}</td>
          <td>{{encuestaConfigurada.articulo}}</td>
          <td>{{encuestaConfigurada.numeroEncuesta}}</td>
          <td>
            <button type="button" class="btn btn-warning me-2">editar</button>
            <button type="button" class="btn btn-danger">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

